<template>
<div class="current_list__wrapper">
  <div class="current_list_selected" >
    <currency-tooltip :key="index" v-for="(activeCurrency,index) in onlyActive" v-model="activeCurrencies[activeCurrency]" @deleteTooltip="deketeTooltip" :label="index" />
  </div>
  <div class="current_list_body">
    <currency :key="index" v-for="(currencyValue,index) in currencyArr" v-model="activeCurrencies[currencyValue]" :active="activeCurrencies[currencyValue]" :currency-name="currencyValue" />
  </div>
</div>
</template>

<script>
import currency from '@/components/currency.vue'
import currency_tooltip from '@/components/currency_tooltip.vue'
export default {
  name: 'currency_list',
  data () {
    return{
      activeCurrencies:{},
    }
  },
  props: {
    currencyArr:Array
  },
  methods:{
    deketeTooltip: function(currency){
      this.activeCurrencies[currency] = false;
    }
  },
  computed:{
    onlyActive:function(){
      let res = Object.keys(this.activeCurrencies).reduce((result, key) => {
        if (this.activeCurrencies[key]) {
          result[key] = this.activeCurrencies[key];
        }
        return result;
      }, {});
      return res;
    },
  },
  components: {
    "currency":currency,
    "currency-tooltip":currency_tooltip
  }
}
</script>


<style scoped>
.current_list__wrapper {
  width: 370px;
  margin: 0 auto;
  -webkit-box-shadow: 7px 10px 5px -5px rgba(133,133,133,1);
  -moz-box-shadow: 7px 10px 5px -5px rgba(133,133,133,1);
  box-shadow: 7px 10px 5px -5px rgba(133,133,133,1);
}

</style>
