<template>
<div class="currency__wrapper" @click="checkSelector">
  <div class="selector"><span class="red_cross" v-if="activeCross">X</span></div>{{currencyName}}
</div>
</template>

<script>
export default {
  name: 'currency',
  props: {
    currencyName: String,
    active: Boolean
  },
  data () {
    return{
      activeCross:this.active
    }
  },
  methods:{
    checkSelector: function(){
      this.activeCross = !this.activeCross;
      this.$emit('input', this.activeCross);
    }
  },
  watch: {
			active: function(val){
        this.activeCross = val;
				this.$emit('input', val);
			}
	}
}
</script>
<style scoped>
.currency__wrapper {
    display: inline-block;
    border: 1px solid grey;
    padding: 10px 25px 10px 10px;
    margin: 10px;
    background: rgba(238, 238, 238, 1);
    cursor: pointer
}
.selector {
    width: 15px;
    border: 1px solid grey;
    height: 15px;
    display: inline-block;
    margin: 0px 15px 0 0px;
    vertical-align: text-top;
}
.red_cross {
    color: red;
    font-size: 14px;
    vertical-align: inherit;
}
</style>
