<template>
<div class="currency_tooltip__wrapper">
  <div>{{inLowerCase}}<div  @click="deketeTooltip" class="currency_tooltip__del">x</div></div>
</div>
</template>

<script>
export default {
  name: 'currency_tooltip',
  props: {
    label: String,
    value:Boolean
  },
  methods:{
    deketeTooltip: function(){
      this.$emit('deleteTooltip', this.label);
    }
  },
  computed: {
    inLowerCase() {
      return this.label.toLowerCase().trim();
    }
  }
}
</script>
<style scoped>
.currency_tooltip__wrapper {
    background: #eeeeee;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}
.currency_tooltip__del {
    position: absolute;
    top: -8px;
    right: -7px;
    background: black;
    padding: 2px 6px;
    color: white;
    border-radius: 40px;
    line-height: 18px;
    cursor: pointer;
}
.currency_tooltip__del:hover{
  color: black;
  background: white;
  border: 3px solid black
}
</style>
