<template>
  <div id="app">
    <currency-list :currency-arr="currencyArr"/>
  </div>
</template>

<script>
import currency_list from './components/currency_list.vue'

export default {
  name: 'app',
  data: function(){
    return { 
      currencyArr:['EUR','PLN','GEL','DKK','CZK',"GBP",'SEK','USD','RUB'],
    }
  },
  components: {
    "currency-list":currency_list
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
